<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-2.0.2.min.js"></script>
    <script src="/javascripts/External.js"></script>
  </head>
  <body>

 <input id='file' type="file" name="thumbnail">
 <button id='btn'>Submit</button>
  </body>
</html>